<table class="table">
 	<div class="panel panel-default">

  	<div class="panel-heading"><h4>Все пользователи</h4>
   		<tr>
   	 		<td><b>Email</td>
        <td></td>
        <td></td>
    	</tr>
      <tr></tr>
		</div>
  	<% @users.each do |users| %>
  	  <tr>
  	    <td><%= users.email %></td>
        <td><%= link_to 'Удалить', user_path(users),
                method: :delete,
                data: { confirm: 'Вы уверены, что хотите удалить?' } %></td>

  	  </tr>
 		<% end %>
	</div>
</table>
