<h3>Первый в мире удобный менеджер флеш-карточек. Именно так.</h3>
<h4>Проверь свои знания</h4>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= render 'test_form' %>
