<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Здравствуйте, <%= @users.email %></h1>
    <p>
      У вас появились непроверенные карточки<br>
    </p>
    <p>
      Все непроверенные карточки вы можете посмотреть по адресу: <%= @url %>.
    </p>
    <p>Спасибо за внимание и отличного вам дня!</p>
  </body>
</html>
